.banner-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border-radius: 8px;
  display: block;
  margin-top: 30px;
  margin-bottom: 0px;
}

.banner-card img {
  width: 100%;
  height: 100%;
  display: cover;
}

.banner-card {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.mobile-banner-image {
  display: none;
  width: 100%;
  height: auto;
}

.banner-large {
  padding: 5px;
  width: 100%;
}

.andes-card {
  overflow: hidden;
  border-radius: 8px;
}

.andes-card--padding-16 {
  padding: 0;
}

@media (max-width: 768px) {
  .banner-image {
    display: none;

  }

  .banner-large {
    width: 100%;
    height: 140px;
    border-radius: 6px;
  }

  .mobile-banner-image {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    position: relative;
    left: 0;
  }
}