/* Contenedor principal */
.login-page {
  display: flex;
  height: 100vh;
  background-color: #ede7e7;
  flex-direction: column; /* Establecer en fila en pantallas grandes */
  justify-content: space-between;
}

.como-funciona-articulo {
  background-color: white;
  padding: 1rem;
}

.como-funciona-contenedor {
  max-width: 800px;
  margin: 1rem auto 0 auto;
}

.como-funciona-titulo {
  text-align: center;
  font-weight: bold;
}

/* En pantallas grandes, alinea el texto un poco más a la izquierda */
@media (min-width: 1024px) {
  .como-funciona-titulo {
    text-align: left;
    margin-left: 8rem; /* ajustá este valor según prefieras */
  }
}

.login-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 400px; /* Ajusta según sea necesario */
  background: linear-gradient(135deg, #3e3b3b 0%, #1e1e1e 100%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.login-main {
  flex-grow: 1;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-left: 340px; /* Ancho del sidebar */
  position: relative; /* Añadir para posicionar el banner dentro de este contenedor */
}

/* Contenedor para BannerCard */
.extra-content {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 300px; /* Ajustar el tamaño máximo del banner */
  z-index: 2; /* Asegurarse de que esté sobre otros elementos */
}

/* Estilo para las tarjetas de información */
.info-container {
  display: flex;
  flex-direction: row; /* En escritorio, las tarjetas estarán en fila */
  justify-content: space-between;
  gap: 2rem;
}

.info-card {
  max-width: 400px;
  width: 100%;
  padding: 5px;
  background-color: #1e1e1e;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.login-sidebar {
  background-color: #000;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.login-logo {
  color: white;
}

.login-subtitle {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.login-section {
  margin-bottom: 2rem;
}

.login-label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.login-btn {
  width: 100%;
  padding: 0.8rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn.ingresar {
  background-color: white;
  color: black;
}

.login-btn.ingresar:hover {
  background-color: yellow;
  color: black;
}

.login-btn.registrarse {
  background-color: yellow;
  color: black;
}

.login-btn.registrarse:hover {
  background-color: white;
  color: black;
}

.login-extra-info {
  margin-top: 3rem;
  font-size: 0.95rem;
  line-height: 1.6;
  color: #fff;
  opacity: 0.9;
}

.contact-info {
  margin-top: 1rem;
  color: white;
  text-align: center;
}

.social-icon {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  color: yellow;  /* O el color que prefieras para el hover */
}



/* Estilo para móviles */
@media (max-width: 1368px) {
  .login-page {
    flex-direction: column; /* En móviles estará en columna */
    height: auto;
  }

  .login-sidebar {
    position: relative;
    height: auto;
    width: 100%;
    padding: 1.5rem;
    box-shadow: none;
    z-index: auto;
  }

  .login-main {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
    height: auto;
  }

  .info-container {
    flex-direction: column; /* En móviles, las tarjetas estarán en columna */
    gap: 1rem;
    justify-content: center;
  }

  .info-card {
    max-width: 100%;
    padding: 6px;
  }
}

.title-margin {
  margin-top: 80px; /* Margen superior para pantallas grandes */
}

@media (max-width: 767px) {
  .title-margin {
    margin-top: 0px; /* Eliminar margen en pantallas pequeñas */
  }
}