.navbar-nav .nav-link {
    color: white !important; /* Asegura que las letras sean blancas */
  }
  
  .navbar-nav .nav-link:hover {
    color: yellow !important; /* Cambia el color a amarillo al hacer hover */
  }
  
  .navbar-brand {
    color: white !important; /* Asegura que el logo y texto del navbar sean blancos */
  }
  
  .navbar-brand:hover {
    color: rgb(255, 230, 0) !important; /* Cambia el color a amarillo al hacer hover */
  }
  .navbar {
    transition: top 0.3s;
  }
  
  .navbar-hidden {
    top: -110px; /* Asegúrate de que coincida con el valor de la altura de la navbar */
  }
  
  .navbar-visible {
    top: 0px; /* Cuando la navbar es visible, vuelve a su posición inicial */
  }
  

  /* Estilo para el dropdown */
.nav-item.dropdown {
  position: relative; /* Necesario para el comportamiento del dropdown */
}

/* El menú desplegable inicialmente está oculto */
.nav-item.dropdown .dropdown-menu {
  display: none; /* Inicialmente oculto */
  background-color: #333; /* Fondo oscuro */
  border-color: #444; /* Bordes más claros */
  position: absolute; /* Posiciona el dropdown debajo del enlace */
  top: 100%; /* Aparece justo debajo del elemento de la lista */
  left: 0;
  right: 0;
  width: 200px;
}

/* Mostrar el menú cuando el mouse pasa por encima del item */
.nav-item.dropdown:hover .dropdown-menu {
  display: block; /* Mostrar el menú cuando se pasa el mouse */
}

/* Estilo para los items dentro del dropdown */
.nav-item.dropdown .dropdown-menu .dropdown-item {
  color: #fff; /* Texto blanco */
}

.navbar-nav .nav-link {
  white-space: nowrap; /* Evita que los textos se dividan en varias líneas */
}

/* Estilo al pasar el mouse por los items */
.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #f8c300; /* Fondo amarillo al pasar el mouse */
  color: #333; /* Texto oscuro */
}

/* Estilo para el enlace "Categorías" */
.navbar .nav-link.dropdown-toggle {
  color: #fff; /* Texto blanco para el toggle */
}

.navbar .nav-link.dropdown-toggle:hover {
  color: #f8c300; /* Amarillo al pasar el mouse */
}

.list-group-item:hover {
  background-color: #f8c300; /* Amarillo como el hover del navbar */
  color: #212529; /* Texto oscuro para contraste */
  font-weight: 500;
}

/* Asegúrate de que el FloatingCart esté correctamente posicionado */
.floating-cart {
  position: absolute;
  top: 50px;  /* Ajusta según la altura del Navbar */
  right: 10px;
  z-index: 1000;  /* Asegúrate de que esté por encima del Navbar */
}


  
/* Ajustes para el input y sugerencias en móvil */
@media (max-width: 768px) {
  .navbar .form-control {
    font-size: 16px;
    padding: 8px;
  }

  .navbar .navbar-toggler {
    margin-left: 0px;
  }


  .navbar .list-group {
    z-index: 1050;
  }

  .navbar .position-relative {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}



@media (max-width: 868px) {
  .navbar .form-control {
    font-size: 16px;
    padding: 8px;
    width: 100%;
  }
  
  
  .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #212529; /* Mismo color que tu navbar */
    z-index: 1000;
  }
  

  .navbar .position-relative {
    width: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list-group.position-absolute {
    width: 92% !important;
  }
}

/* Alineación mejorada de los íconos y espaciado general */
.navbar .navbar-toggler {
  margin-left: 10px;
}

.navbar .nav-link {
  font-size: 16px;
  padding: 10px 15px;
}

.navbar-nav .nav-link {
  white-space: nowrap; /* Evita que los textos se dividan en varias líneas */
}

/* Barra de búsqueda */
.navbar .form-control {
  width: 100%; /* Asegura que ocupe el ancho disponible */
  max-width: 400px; /* Limita el tamaño máximo para evitar que se expanda demasiado */
  font-size: 16px;
  padding: 8px 12px; /* Asegura un padding adecuado */
  transition: width 0.3s ease-in-out; /* Transición suave para el cambio de tamaño */
}



