.navbar-nav .nav-link {
    color: white !important; /* Asegura que las letras sean blancas */
  }
  
  .navbar-nav .nav-link:hover {
    color: yellow !important; /* Cambia el color a amarillo al hacer hover */
  }
  
  .navbar-brand {
    color: white !important; /* Asegura que el logo y texto del navbar sean blancos */
  }
  
  .navbar-brand:hover {
    color: rgb(255, 230, 0) !important; /* Cambia el color a amarillo al hacer hover */
  }
  .navbar {
    transition: top 0.3s;
  }
  
  .navbar-hidden {
    top: -110px; /* Asegúrate de que coincida con el valor de la altura de la navbar */
  }
  
  .navbar-visible {
    top: 0px; /* Cuando la navbar es visible, vuelve a su posición inicial */
  }
  

  
/* Ajustes para el input y sugerencias en móvil */
@media (max-width: 768px) {
  .navbar .form-control {
    font-size: 14px;
    padding: 8px;
  }

  .navbar .list-group {
    z-index: 1050;
  }

  .navbar .position-relative {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 991.98px) {
  #navbarNav {
    position: absolute;
    top: 100%;
    left: -8.2px;
    width: 100%;
    background-color: #212529; /* mismo color que tu navbar bg-dark */
    z-index: 1000;
  }

  .navbar-collapse.show {
    display: block !important;
  }
}


/* Alineación mejorada de los íconos y espaciado general */
.navbar .navbar-toggler {
  margin-left: 10px;
}

.navbar .nav-link {
  font-size: 16px;
  padding: 10px 15px;
}
